{% extends 'official/base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static 'img/ouch.png' %}" class="d-block mx-lg-auto img-fluid Ks" alt="Bootstrap Themes"
                    width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3" style="font-family: 'Roboto Condensed', sans-serif;">To create a
                    clean and safe environment that serves generations</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed, pariatur.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed, pariatur.
                </p>

                <a href="#" class="btn btn-success">Sign Up <i class='bx bxs-user-plus'></i></a>

            </div>
        </div>
    </div>
</section>

<section class="bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal"><i class='bx bx-home'></i> Residential Waste Pickup</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
                        <p class="lead">Okota's curbside trash and recyling pickup is the best choice for your home, and
                            f9or the environment.</p>
                        <button type="button" class="w-100 btn btn-lg btn-outline-dark">Order pickup <i
                                class='bx bxs-truck bx-tada bx-rotate-90'></i></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal"><i class='bx bxs-business'></i> Business Waste Pickup</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light">/mo</small></h1>
                        <p class="lead">
                            Take care of business, we'll take care of the waste. Choose Okota for reliable, responsible
                            waste pickup.
                        </p>
                        <button type="button" class="w-100 btn btn-lg btn-outline-success">Order pickup <i
                                class='bx bxs-truck bx-tada bx-rotate-90'></i></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-success">
                    <div class="card-header py-3 text-white bg-success border-success">
                        <h4 class="my-0 fw-normal">Roll-off Dumpsters</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$29<small class="text-muted fw-light">/mo</small></h1>
                        <p class="lead">From quick cleanouts to major renovations, Okota has a dumpster that is perfect
                            for your project.</p>
                        <button type="button" class="w-100 btn btn-lg btn-success">Rent dumpster <i
                                class='bx bxs-trash bx-burst'></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container my-5">
        <div class="text-center mb-5">
          <span class="text-secondary text-uppercase">Questions</span>
          <h1 class="text-capitalize font-weight-bold">Frequently Asked <span class="text-success">Questions</span></h1>
        </div>
      
        <div class="col-md-8 mx-auto">
          <div class="mb-5">
            <div class="d-sm-flex align-items-start mb-4">
              <div class="d-none d-sm-flex flex-column align-items-center mr-4">
                <div class="p-3 bg-light rounded-circle">
                  <svg fill="currentColor" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g data-name="Layer 2"><g data-name="menu-arrow"><rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"/><path d="M17 9A5 5 0 0 0 7 9a1 1 0 0 0 2 0 3 3 0 1 1 3 3 1 1 0 0 0-1 1v2a1 1 0 0 0 2 0v-1.1A5 5 0 0 0 17 9z"/><circle cx="12" cy="19" r="1"/></g></g></svg>
                </div>
                <small class="text-secondary text-uppercase mt-2">Question</small>
              </div>
              <div class="p-4 rounded bg-light text-dark">
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis aut accusantium dolores consequuntur quam?</p>
              </div>
            </div>
            <div class="d-flex align-items-start">
              <div class="p-4 rounded text-white bg-success">
                <p class="mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos aperiam, consequatur aut debitis nulla suscipit quidem ipsa asperiores doloribus, recusandae sapiente delectus nesciunt maxime voluptatibus.</p>
              </div>
              <div class="d-none d-sm-flex flex-column align-items-center ml-4">
                <div class="p-3 bg-light rounded-circle">
                  <svg width="24px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 414.594 414.594" style="enable-background:new 0 0 414.594 414.594;"
           xml:space="preserve">
      <g>
          <g>
              <g>
                  <path d="M357.594,298.009l-84.891-33.848l-19.881-16.748c-5.25-4.438-13.004-4.11-17.873,0.73l-27.64,27.481l-27.717-27.492
                      c-4.874-4.832-12.618-5.146-17.864-0.722l-19.879,16.748l-84.895,33.854C29.622,308.9,29.644,405.708,27.297,414.594h360
                      C384.955,405.73,384.941,308.885,357.594,298.009z"/>
                  <path d="M314.002,87.668C308.106,38.434,262.505,0,207.297,0s-100.81,38.434-106.705,87.668
                      c-4.898,3.137-8.153,8.613-8.153,14.859v39.996c0,9.743,7.899,17.646,17.646,17.646l15.942-0.04
                      c9.848,51.453,44.795,80.728,81.27,80.728c36.475,0,57.666-17.339,71.719-49.293c-10.729,8.416-26.324,16.114-48.134,17.704
                      c-2.004,2.985-5.411,4.951-9.276,4.951h-10.189c-6.167,0-11.167-4.999-11.167-11.167s5-11.167,11.167-11.167h10.189
                      c3.611,0,6.813,1.723,8.854,4.383c35.067-2.815,51.558-24.083,58.134-36.091l15.916-0.006c9.746,0,17.646-7.903,17.646-17.646
                      v-39.996C322.154,96.281,318.899,90.805,314.002,87.668z M287.961,89.47c-10.407-32.854-40.473-52.385-80.664-52.385
                      c-40.192,0-70.276,19.519-80.694,52.357c-1.612-1.456-3.49-2.616-5.559-3.401C127.705,48.656,163.845,20,207.297,20
                      s79.591,28.656,86.253,66.041C291.468,86.832,289.58,88,287.961,89.47z"/>
              </g>
          </g>
      </g>
      </svg>
      
                </div>
                <small class="text-secondary text-uppercase mt-2">Answer</small>
              </div>
              
            </div>
          </div>
        </div>
        
        <div class="col-md-8 mx-auto">
          <div class="mb-5">
            <div class="d-sm-flex align-items-start mb-4">
              <div class="d-none d-sm-flex flex-column align-items-center mr-4">
                <div class="p-3 bg-light rounded-circle">
                  <svg fill="currentColor" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g data-name="Layer 2"><g data-name="menu-arrow"><rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"/><path d="M17 9A5 5 0 0 0 7 9a1 1 0 0 0 2 0 3 3 0 1 1 3 3 1 1 0 0 0-1 1v2a1 1 0 0 0 2 0v-1.1A5 5 0 0 0 17 9z"/><circle cx="12" cy="19" r="1"/></g></g></svg>
                </div>
                <small class="text-secondary text-uppercase mt-2">Question</small>
              </div>
              <div class="p-4 rounded bg-light text-dark">
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis aut accusantium dolores consequuntur quam?</p>
              </div>
            </div>
            <div class="d-flex align-items-start">
              <div class="p-4 rounded text-white bg-success">
                <p class="mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos aperiam, consequatur aut debitis nulla suscipit quidem ipsa asperiores doloribus, recusandae sapiente delectus nesciunt maxime voluptatibus.</p>
              </div>
              <div class="d-none d-sm-flex flex-column align-items-center ml-4">
                <div class="p-3 bg-light rounded-circle">
                  <svg width="24px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 414.594 414.594" style="enable-background:new 0 0 414.594 414.594;"
           xml:space="preserve">
      <g>
          <g>
              <g>
                  <path d="M357.594,298.009l-84.891-33.848l-19.881-16.748c-5.25-4.438-13.004-4.11-17.873,0.73l-27.64,27.481l-27.717-27.492
                      c-4.874-4.832-12.618-5.146-17.864-0.722l-19.879,16.748l-84.895,33.854C29.622,308.9,29.644,405.708,27.297,414.594h360
                      C384.955,405.73,384.941,308.885,357.594,298.009z"/>
                  <path d="M314.002,87.668C308.106,38.434,262.505,0,207.297,0s-100.81,38.434-106.705,87.668
                      c-4.898,3.137-8.153,8.613-8.153,14.859v39.996c0,9.743,7.899,17.646,17.646,17.646l15.942-0.04
                      c9.848,51.453,44.795,80.728,81.27,80.728c36.475,0,57.666-17.339,71.719-49.293c-10.729,8.416-26.324,16.114-48.134,17.704
                      c-2.004,2.985-5.411,4.951-9.276,4.951h-10.189c-6.167,0-11.167-4.999-11.167-11.167s5-11.167,11.167-11.167h10.189
                      c3.611,0,6.813,1.723,8.854,4.383c35.067-2.815,51.558-24.083,58.134-36.091l15.916-0.006c9.746,0,17.646-7.903,17.646-17.646
                      v-39.996C322.154,96.281,318.899,90.805,314.002,87.668z M287.961,89.47c-10.407-32.854-40.473-52.385-80.664-52.385
                      c-40.192,0-70.276,19.519-80.694,52.357c-1.612-1.456-3.49-2.616-5.559-3.401C127.705,48.656,163.845,20,207.297,20
                      s79.591,28.656,86.253,66.041C291.468,86.832,289.58,88,287.961,89.47z"/>
              </g>
          </g>
      </g>
      </svg>
      
                </div>
                <small class="text-secondary text-uppercase mt-2">Answer</small>
              </div>
              
            </div>
          </div>
        </div>
      </div>
</section>

<section class="bg-dark">
    <div class="container my-5 border">
        <div class="p-5 d-flex flex-column flex-sm-row align-items-center justify-content-between">
         <span class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati, exercitationem?</span>
         <a href="#" class="btn px-5 py-3 text-dark mt-3 mt-sm-0" style="border-radius: 30px; background-color: #ffffff;">Get Started</a>
        </div>
      </div>
</section>

<section>
    <div class="container">
        <div class="border-bottom mb-3 pb-3 px-2 d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <a href="#"><h2 style="font-family: 'Roboto Condensed';" class="text-capitalize font-weight-bold mb-0 text-dark">Blog</h2></a>
          </div>
          <a href="#" class="text-dark">See All</a>
        </div>
        <div class="row">
      
          <div class="col-md-4 p-3">
            <div class="position-relative" style="height: 280px; background-image: url(https://media.gettyimages.com/photos/at-the-the-network-tolo-televised-debate-dr-abdullah-abdullah-with-picture-id1179614034?k=6&m=1179614034&s=612x612&w=0&h=WwIX3RMsOQEn5DovD9J3e859CZTdxbHHD3HRyrgU3A8=); background-position: center; background-size: cover;">
              <a href="#" class="position-absolute text-white px-3 py-2 bg-white" style="z-index: 10; top:20px; right:20px;">
                <small class="text-dark">Health</small>
              </a>
              <div class="position-absolute p-3 d-flex flex-column justify-content-end" style="background: linear-gradient(to bottom, transparent, rgba(0,0,0,1)); top:0; bottom:0; left:0; right:0;">
                <h3 class="h6"><a href="#" class="text-white" style="line-height: 1.6;">How much litter does it take to suffocate earth?</a></h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-3">
            <div class="position-relative" style="height: 280px; background-image: url(https://media.gettyimages.com/photos/during-his-presidential-campaign-dr-abdullah-talks-to-thousands-of-picture-id1179613429?k=6&m=1179613429&s=612x612&w=0&h=un38o3CsqcAD4kUIjsd49UdTyJcfn2l_mndjnmD9qMQ=); background-position: center; background-size: cover;">
              <a href="#" class="position-absolute text-dark px-3 py-2 bg-white" style="z-index: 10; top:20px; right:20px;">
                <small>Nature</small>
              </a>
              <div class="position-absolute p-3 d-flex flex-column justify-content-end" style="background: linear-gradient(to bottom, transparent, rgba(0,0,0,1)); top:0; bottom:0; left:0; right:0;">
                <h3 class="h6"><a href="#" class="text-white" style="line-height: 1.6;">How much litter does it take to suffocate earth?</a></h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-3">
            <div class="position-relative" style="height: 280px; background-image: url(https://media.gettyimages.com/photos/during-his-presidential-campaign-dr-abdullah-talks-to-thousands-of-picture-id1179613401?k=6&m=1179613401&s=612x612&w=0&h=HFj4Uzls-FEDs1AkxspY2nmhKrZ3ITIjuew7YOHN6eI=); background-position: center; background-size: cover;">
              <a href="#" class="position-absolute text-white bg-success px-3 py-2" style="z-index: 10; top:20px; right:20px;">
                <small>Politics</small>
              </a>
              <div class="position-absolute p-3 d-flex flex-column justify-content-end" style="background: linear-gradient(to bottom, transparent, rgba(0,0,0,1)); top:0; bottom:0; left:0; right:0;">
                <h3 class="h6"><a href="#" class="text-white" style="line-height: 1.6;">How much litter does it take to suffocate earth?</a></h3>
              </div>
            </div>
          </div>
          
        </div>
      </div>
</section>
{% endblock content %}